.advantages {
    padding: 70px 0 90px;
    background-color: #F6F6F6;

    &__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.advantage {
    max-width: 25%;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    &__icon {
        max-width: 100%;
    }

    &__title {
        margin-top: 35px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__desc {
        margin-top: 23px;
        font-size: 14px;
        font-weight: 300;

        a {
            color: $red;
        }
    }
}