.button {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 21px;
    border: none;
    border-radius: 8px;
    background-color: $red;
    transition: .2s linear all;

    &:hover {
        background-color: #ff0000;
    }
}

.button_big {
    font-size: 16px;
    padding: 16px 43px;
}
